body{
    margin: 0px;
}


.img_box{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

.profile_img{
    width: 100%;
    height: 100%;
}



.center{
    text-align: center;

}

.font{
    font-weight: 900;
}








.container{
    margin-top: 40px;
}
